<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>651424050925-1h9ofumbsmlbd2qquv14ql567sni2t2m.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.651424050925-1h9ofumbsmlbd2qquv14ql567sni2t2m</string>
	<key>API_KEY</key>
	<string>AIzaSyArZB10krEEutbPKgxS7vCT8tSno8MEC5Q</string>
	<key>GCM_SENDER_ID</key>
	<string>651424050925</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>vyn-metropolia.fi.geoapp</string>
	<key>PROJECT_ID</key>
	<string>geoapp-486f9</string>
	<key>STORAGE_BUCKET</key>
	<string>geoapp-486f9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:651424050925:ios:93363acac414de7632e6e4</string>
	<key>DATABASE_URL</key>
	<string>https://geoapp-486f9.firebaseio.com</string>
</dict>
</plist>